# Copy to .env for local use. Do not commit the copy.
DRONE_WORLD_IMAGE=quay.io/rhkp/hbr-drone-world:v0.3.0
DRONE_OBSERVER_IMAGE=quay.io/rhkp/hbr-drone-observer:v0.3.0
DRONE_NOVNC_IMAGE=quay.io/rhkp/hbr-novnc:v0.1.0
DRONE_ARTIFACT_DIR=./artifacts
DRONE_SCENARIO=all
DRONE_ACCELERATION_MPS2=2.5
