REGISTRY=quay.io/rhkp
RELEASE_TAG=v0.1.0
BASE_TAG=v0.1.0
BOOTC_OS_IMAGE=quay.io/hummingbird-community/bootc-os:latest
DRONE_WORLD_IMAGE=quay.io/rhkp/hbr-drone-world:v0.1.0
DRONE_OBSERVER_IMAGE=quay.io/rhkp/hbr-drone-observer:v0.1.0
